@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
::-webkit-scrollbar {
  width: 8px;
  background-color: #d1d1d1;
}

::-webkit-scrollbar-thumb {
  background-color: #ED5718;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  margin: 3px;
}

* {
  scroll-behavior: smooth !important;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.logo {
  color: #20fafa;
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  background-color: #6700ee;
  font-size: 0.95em;
}

header nav {
  float: right;
  font-size: 0.78em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul a {
  display: block;
  padding: 0 1em;
  color: white;
}

.social-header,
.middle {
  display: none;
}

.main {
  background-color: #6e00ee;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.work-together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4em;
  color: #ff8ee1;
  font-weight: bold;
}

.work-together a {
  width: 2em;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.about_me {
  position: relative;
}

.about_me::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #6700ee27;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6e00ee;
  letter-spacing: 0.4em;
  font-size: 0.85em;
}

.title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.description {
  color: #474747;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.right img {
  display: none;
}

.skills {
  background-color: #6e00ee;
}

.skills-container ul li {
  background-color: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one, .skills-container ul li .icon-container.two {
  width: 100px;
}

.skills-container ul li .icon-container.three {
  width: 80px;
}

.skills-container ul li .skill-title {
  font-weight: bold;
  color: #6700ee;
}

.skills-container ul li .skill-description {
  margin-bottom: 2em;
  color: #474747;
}

.portfolio {
  background-color: #f7f7f7;
}

.right-portfolio {
  width: 100%;
}

.right-portfolio img {
  border-radius: 1em;
  margin-bottom: 2em;
  width: 75%;
}

.signal {
  border-radius: 2em !important;
  width: 250px !important;
}

.contact-me {
  font-weight: bold;
  font-size: 1.1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 4em;
}

.contact-me a {
  color: #6e00ee;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #6e00ee;
  padding: 2em;
  min-height: 8em;
}

footer .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-nav ul a {
  display: block;
  margin: 1em;
  color: white;
}

footer .footer-social {
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
}

footer .footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8em;
}

footer .footer-social ul img {
  width: 22px;
}

@media only screen and (min-width: 450px) {
  header {
    font-size: 1em;
  }
}

@media only screen and (min-width: 600px) {
  header {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 800px) {
  .about_me,
  .portfolio {
    text-align: left;
  }
  .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    grid-gap: 2em;
  }
  .left-portfolio {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .about_me {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 62% auto;
        grid-template-columns: 62% auto;
  }
  .about_me .left {
    margin: unset;
    padding-left: 7em;
  }
  .about_me .left .description {
    margin-top: 2em;
  }
  .about_me .right {
    margin-top: unset;
  }
  .about_me .right img {
    display: block;
    border-radius: 50px;
  }
  .skills {
    margin-top: -7em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .right-portfolio img {
    margin-bottom: 4em;
    width: 48vw;
  }
  .right-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-me {
    text-align: center;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .logo {
    margin: unset;
  }
}

@media only screen and (min-width: 1050px) {
  .main {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 62% auto;
        grid-template-columns: 62% auto;
    background-color: unset;
  }
  .nav-container header {
    background-color: #6700ee;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 8em;
  }
  .social-header ul img {
    width: 22px;
  }
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 62% auto;
        grid-template-columns: 62% auto;
    background-color: unset;
    padding: 0;
  }
  .main .content {
    background-color: #6e00ff;
    padding: 10em 8em 6em 4em;
    text-align: left;
  }
  .main .content h1 {
    font-size: 3em;
    line-height: 1.2em;
    max-width: 35vw;
  }
  .work-together {
    width: calc(66% - 4em);
    margin: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    bottom: 50px;
  }
  .work-together a {
    margin: unset;
    margin-left: calc(50% - 160px);
  }
  .middle {
    display: unset;
    border-radius: 30%;
    width: 564px;
    height: 423px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: absolute;
    left: calc(62% - 273px);
    bottom: calc(90vh - 625px);
  }
  .about_me .left {
    margin: unset;
    padding-bottom: 9em;
    padding-left: 4em;
  }
  .about_me .left .description {
    margin-top: 2em;
  }
  .about_me .right img {
    display: block;
    border-radius: 50px;
  }
  .portfolio-container {
    grid-gap: 4em;
  }
  .skills {
    margin-top: -9em;
  }
  .contact-me {
    font-size: 2em;
  }
  footer {
    padding: 0 4em;
  }
  footer .footer-social {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    justify-self: flex-end;
  }
  footer .footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 8em;
  }
  footer .footer-social ul img {
    width: 22px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 8.5em;
  }
  .about_me .left {
    padding: unset;
    margin-top: -5em;
  }
  .about_me .left .description {
    margin-top: 2em;
  }
  .about_me .right img {
    display: block;
    border-radius: 50px;
  }
  .skills {
    margin-top: -9em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .main .content {
    padding: 6em 8em 6em 10em;
  }
  .portfolio-container {
    grid-gap: 6em;
  }
  footer {
    padding: 0 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 17em;
  }
  .about_me::before {
    left: 12em;
    top: 2em;
  }
  .about_me .left {
    margin: unset;
    padding: unset;
    padding-top: 2em;
  }
  .skills {
    margin-top: -9em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .main .content {
    padding: 9em 20em 6em 20em;
  }
  .portfolio-container {
    grid-gap: 7em;
  }
  footer {
    padding: 0 20em;
  }
}
/*# sourceMappingURL=main.css.map */